body{

font-family:"times new roman", times, serif;
background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg");
background-size: cover;
}
#container{
    width:400px;
    margin:0 auto;
    margin-top:5%;
	 margin-left: auto;
  margin-right: auto;
}

/* Bordered form */
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}

header{
background-color: grey;
    height: 100px;
}

#liens{text-align: center;
position: absolute;
margin-left : 370px;
margin-top : 45px;
font-size: 20px;
}

#titre{position: absolute;
font-size: 20px;
}

#menu-deroulant { margin-top: auto;
margin-left: auto;
 }
 
 #resevation{
	   border: 1px dotted #999;
  border-radius: 0;

  -webkit-appearance: none;
      width: 50%;
 margin-left: auto;
  margin-right: auto;
 }
 
  .form-signin{
	  width: 40%;border-left-width: 0px;margin-left: auto;margin-right: auto;
  }
 input[type=date], input[type=time]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#reser {
	   border: 1px dotted #999;
  border-radius: 0;

  -webkit-appearance: none;
      width: 50%;
 margin-left: auto;
  margin-right: auto;
  
    width: 50%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	
	text-align: center;
 }
 
 #classe{
	width: 850px;
  display: block;
  margin-left: 15%;
  margin-right: auto;
 }
 
 #text{
	 text-align: center;
